*{
    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    height: 100vh;
    background: black;
}
.module-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100vh; */
    background: black;
}
.d-box{
    display: flex;
}
.tc{
    text-align: center;
    align-self: center;
}
.tf{
    text-align: left;
}
.tr{
    text-align: right;
}